<div class="wrapper">
	<h2>LOG IN</h2>
	<form>
		{{text-input type='text' label='EMAIL'}}
		{{text-input type='text' label='PASSWORD'}}
		<div class="submit">
			<span>REMEMBER ME</span>
			<div>LOGIN</div>
		</div>
	</form>
</div>