.button {
  font-size: (10 / 16) * 1em;
  display: inline-block;
  padding: 1.2em 2.4em;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: .2s;

  &.large {
    font-size: 1em;
  }

  &.white-outline {
    border: 2px solid $color-white;

    &:hover {
      background-color: $color-white-25;
    }
  }

  &.primary {
    background-color: $color-grey-9;

    &:hover {
      background-color: $color-grey-7;
    }
  }
}
