& {
  display: block;
  padding: 1.5em 0;
  background-color: $color-white;
  height: $height-top-nav;
  box-sizing: border-box;
}

nav {
  @include layout-container;
	height: 2em;
	
	img {
		height: 1.5em;
	}
}

.nav-links {
  float: right;
  line-height: 2em;

  li {
    font-size: (14 / 16) * 1em;
    display: inline-block;
    margin-left: 2.5em;
    vertical-align: middle;

    a {
      color: $color-grey-9;
    }

    &:last-of-type {
      width: 2em;
      height: 2em;
      border-radius: 2em;
      background-color: $color-grey-5;
    }
  }
}
