<div class="wrapper">
	<h2>SIGN UP</h2>
	<form>
		{{text-input type='text' label='EMAIL'}}
		{{text-input type='text' label='PASSWORD'}}
		{{text-input type='text' label='CONFIRM PASSWORD'}}
		<div class="submit">
			<span>I AGREE TO THE TERMS</span>
			<div>CREATE ACCOUNT</div>
		</div>
	</form>
</div>