<div class="wrapper">
	<h2>SIGN UP</h2>
	<form>
		{{text-input type='text' label='EMAIL'}}
		{{text-input type='password' label='PASSWORD'}}
		{{text-input type='password' label='CONFIRM PASSWORD'}}
		<div class="submit">
			<span>{{input type="checkbox"}} I AGREE TO THE TERMS</span>
			<div class="button primary">CREATE ACCOUNT</div>
		</div>
	</form>
</div>