<div class="card">
  <div class="image">
    <img src="/assets/image-carousel/header-john-legend.jpg">
  </div>
  <div class="content">
    <div class="date">
      <span>26</span>
      <span>APR</span>
    </div>
    <div class="info">
      <h3>Frank's Graffiti Gallery</h3>
      <span>7:00 PM</span>
      <span>Toronto, Canada</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="attendance">
      <span>100</span> EVENTRS GOING
    </div>

    <button type="button" name="button">GOING</button>
  </div>
</div>
