.carousel-wrapper {
  width: 100vw;
  overflow-x: hidden;

  .carousel {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    height: 65vh;

    .carousel-items {
      width: 80%;
      margin: 0 3em;

      img {
        height: 100%;
      }
    }
  }
}
