.carousel-wrapper {
  overflow-x: hidden;
  width: 100vw;

  .carousel {
    display: flex;
    height: 65vh;
    margin: 2em 0;
    justify-content: center;

    .carousel-items {
      width: 80%;
      margin: 0 3em;

      img {
        height: 100%;
      }
    }
  }
}
